.form-control:focus {
    box-shadow: none;
    outline: none;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-brand img {
    height: 30px;
  }

.bg-dark {
  background: cover;
}

.brandLogo {
  height: 30px;
}

.nav-item span {
  line-height: 18px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

.nav-item span {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: #2ecc71;
  overflow: hidden;
  background: linear-gradient(to right, #2ecc71, #2ecc71 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
  &:hover {
    background-position: 0 100%;
  }
}

.commonBtn{
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px 0px;
  background-color: #06f591;
  color: white;
}
.commonBtn:hover {
  border-radius: 0px 20px ;
  color: rgb(204, 202, 202);
}