.navbarBg {
  background: rgba(180, 184, 184, 0.575);
  box-shadow: 0 8px 32px 0 rgba(99, 103, 153, 0.37);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 9px );
}

.brandLogo {
  height: 30px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-brand img {
    height: 30px;
  }

.nav-item span {
  line-height: 18px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

.nav-item span {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: #18ff9f;
  overflow: hidden;
  background: linear-gradient(to right, #18ff9f, #0ac759 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
  &:hover {
    background-position: 0 100%;
  }
}

